*config.rb
*buttons.txt
*config.codekit
*01 Layout/
*sass
*fonts
*edit-payment-account.html
*accordion-nav.html
*account-canceled.html
*account-confirmation-request.html
*incubation-acceleration-empty.html
*account-plan-personal.html
*incubation-acceleration-full.html
*account-plan.html
*incubation-stages-completed.html
*account-rejected.html
*incubation-stages.html
*account-request-enterprise.html
*join-guest.html
aviso-privacidad.html
*list-chose-member.html
*billing-approved.html
*list-project-view.html
*billing-guest-failed.html
*member-list-view.html
*billing-guest-new-user.html
*personal-plan.html
*billing-guest.html
*pop-ups.html
*billing-processing.html
*privacy-policy.html
*billing-team-pay.html
*bmc-exo.html
*bmc-feasability.html
*questionary.html
*bmc-product-market-fit.html
*scaling-up-overview.html
*bmc-viability.html
*scaling-up-people.html
*canvas-business-model.html
*scaling-up-process.html
*canvas-exo.html
*team-plan.html
*canvas-lean.html
*terms-conditions.html
**canvas-mission.html
*trl1.html
*canvas-social.html
*trl2.html
*canvas-system.html
*trl3.html
*trl4.html
*trl5.html
*trl6.html
*edit-account.html
